<hgroup>
<table style="width:100%">
  <tr>
    <td>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</td>
<td>

</td>
<td>

<table>
<tr>
<td>
<a href="https://github.com/PlayScriptRedux/playscript"><img class="right" src="/images/Playscript-TransBackground-Small.png"></a>
</td>
<td>
<table>
<tr>
<td align="center"><a href="https://travis-ci.org/PlayScriptRedux/playscript/branches"><img src="https://camo.githubusercontent.com/9c3fab3d568fc5663618f2fb9c8f7b1d8ea99532/68747470733a2f2f7472617669732d63692e6f72672f506c617953637269707452656475782f706c61797363726970742e7376673f6272616e63683d706c6179736372697074" alt="master nix" data-canonical-src="https://travis-ci.org/PlayScriptRedux/playscript.svg?branch=playscript" style="max-width:100%;"></a>
</td>
</tr>
<tr>
<td align="center">
<a href="https://gitter.im/PlayScriptRedux/playscript?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=body_badge"><img src="https://camo.githubusercontent.com/5369be009b0edd6354d3351d0dc1a47adee512bf/68747470733a2f2f6261646765732e6769747465722e696d2f506c617953637269707452656475782f706c61797363726970742e737667" alt="Gitter" data-canonical-src="https://badges.gitter.im/PlayScriptRedux/playscript.svg" style="max-width:100%;"></a>
</td>
</tr>
</tbody></table>
</td>
</tr>
</table>

</td>
  </tr>
</table>
</hgroup>
